* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

body {
    background-color: #F39F5A;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
}

/* title style */
#title h1 {
    margin-top: 100px;
    color: #451952;
    font-size: 60px;
}

/* sketchpad style */
#container {
    border: 1px solid #662549;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.rows {
    flex: 1;
    display: flex;
}

.cols {
    border: 1px solid #662549;
    flex: 1;
    margin: 1px;
    border-radius: 3px;
    background-color: #AE445A;
}

/* controls style */
#controls .size-btn {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #451952;
    color: #F39F5A;
    box-shadow: 5px 2px 5px #ca6513;
    cursor: pointer;
}

#controls .size-btn:hover {
    background-color: #2a0735;
}

/* footer style */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
}

#footer .info {
    font-family: 'Courier New', Courier, monospace;
}

#footer img {
    width: 20px;
    margin-left: -40px;
}



